<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>島﨑　悠 ポートフォリオサイト</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="image/icomoon/style.css">
  <link rel="shortcut icon" href="image/logo.png">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js"></script>
  <!-- ＃リンクのスムーズスクロール -->
  <script>
    $(function(){
      // #で始まるリンクをクリックしたら実行されます
      $('a[href^="#"]').click(function() {
        // スクロールの速度
        var speed = 400; // ミリ秒で記述
        var href= $(this).attr("href");
        var target = $(href == "#" || href == "" ? 'html' : href);
        var position = target.offset().top;
        $('body,html').animate({scrollTop:position}, speed, 'swing');
        return false;
      });
    });

  </script>
  <title>jQuery</title>
</head>
<body class="preload">
  <div class="top_wrapper hero">
    <div class="top_message">
      <div class="red-bold">ただ今、転職活動中！</div>
      <p>
        希望職種：バックエンドエンジニア<br>
        学習中言語：Python3, Ruby<br>
        希望勤務地：東京<br>
        希望年収：350万円/年 以上
      </p>
      <div class="lead">興味を持って頂きましたらご連絡ください！</div>
    </div>
  </div>
  
  <div class="background_color">
    <header class="header_nav flex space">
      <h1 class="top_logo">
        <a href="#">島﨑　悠 Portfolio Site</a>
      </h1>

      <nav class="menu open flex">
        <ul class="flex hover_blue">
          <li><a href="#section1">about me</a></li>
          <li><a href="#section2">Ruby</a></li>
          <li><a href="#section3">Rails</a></li>
          <li><a href="#section4">JavaScript</a></li>
          <li><a href="#section5">Other(Python)</a></li>
        </ul>
      </nav>

      <!--ハンバーガーメニューの中-->
      <nav class="menu" id="nav-drawer">
        <input id="nav-input" type="checkbox" class="nav-unshown">
        <label id="nav-open" for="nav-input"><span></span></label>
        <label class="nav-unshown" id="nav-close" for="nav-input"></label>
        <div id="nav-content">
          <div class="side_wrapper">
            <div class="side_top">
              <p class="profile_top">カテゴリ</p>
            </div>
            <ul class="hover_blue">
              <li><a href="#section1">about me</a></li>
              <li><a href="#section2">Ruby</a></li>
              <li><a href="#section3">Rails</a></li>
              <li><a href="#section4">JavaScript</a></li>
              <li><a href="#section5">Other</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    
    <section class="text-center pt_70" id="section1">
      <div class="front_text">about me<h2 class="back_text">about me</h2></div>
      <div class="container">

        <div class="left_space">
          <img src="simahuku.jpg" class="profile_image" alt="島﨑　悠（しまざき ゆう）">
          <div class="sns">
            <ul class="text_center">
              <li><a href="https://github.com/yuyuyu-26" class="github" target="_blank">GitHub</a></li>
              <li><a href="https://qiita.com/shi_ma_yu" class="Qiita" target="_blank">Qiita</a></li>
              <li><a href="https://me-di-ca-l.com" class="Qiita" target="_blank">ブログ</a></li>
              <li><a href="mailto:yu.yu.yu.bnpg@gmail.com" class="email" target="_blank">E-mail</a></li>
            </ul>
          </div>
        </div>

        <div class="right_space">
          <section class="flex">
            <div class="icon">
              <i class="fas fa-user"></i>
            </div>
            <div class="info">
              <h3 class="top_info">パーソナル情報</h3>
              <p>
                島﨑　悠（しまざき ゆう）<br>
                1997年02月06日生まれ / 23歳
              </p>
            </div>
          </section>
          <section class="flex">
            <div class="icon">
              <i class="fas fa-address-card"></i>
            </div>
            <div class="info">
              <h3 class="top_info">経歴</h3>
              <ul>
                <li>・2019年3月 ： 高崎健康福祉大学 保健医療学部学部 看護学科 卒業</li>
                <li>
                  ・2019年4月 ： 地域医療支援病院(看護師) 就職
                  <div class="indent">
                    地域住民や連携病院と協力し、無差別・平等な医療実践に惹かれ<br>
                    入社を決意しました。<br>
                    入社1年目に急性期病棟に配属されました。<br>
                    急性期病棟では患者の容態変化が早く、スタッフ数が少ない状態でした。<br>
                    それに対し効率的に動けるよう、日々自己に課題を課しながら看護を実践し多くの患者様から評価を頂きました。これにより私はその年に<span class="red-bold">最高評価を頂きました。</span><br>
                    真剣に課題と向き合い、毎日改善策を考えていました<br>
                    <span class="red-bold">常に頭を使い改善策を考える癖</span>がこの時身につきました。
                  </div>
                </li>
                <li>・2019年12月 ： 地域医療支援病院 退職</li>
                <li>・2020年7月～9月 ：　業務委託としてシステム開発案件受注</li>
                <li>・現在転職活動中</li>
              </ul>
            </div>
          </section>
          <section class="flex">
            <div class="icon">
              <i class="fas fa-laptop"></i>
            </div>
            <div class="info">
              <h3 class="top_info">2020年に学習したプログラミングスキル</h3>
              <ul>
                <li>HTML,CSS</li>
                <li>JavaScript,jQuery</li>
                <li>Ruby,Ruby on Rails</li>
                <li>Python3</li>
                <li>Numpy</li>
                <li>Pandas</li>
                <li>Matplotlib</li>
                <li>Seaborn</li>
                <li>機械学習</li>
                <li>ニューラルネットワーク</li>
                <li>Docker,Git,Psgl,Googleスプレッドシート</li>
              </ul>
              <p>※成果物については下記参照ください</p>
            </div>
          </section>
          <section class="flex">
            <div class="icon">
              <i class="far fa-star"></i>
            </div>
            <div class="info">
              <h3 class="top_info">どの様な業務をしたいか</h3>
              <p>
                <span class="red-bold">データサイエンティストとして誰かの役に立ちたい
                </span>と思っています。<br>
                その為に必要な言語やスキルを常に取り入れていける環境で働きたいです。
              </p>
            </div>
          </section>
          <section class="flex">
            <div class="icon">
              <i class="far fa-thumbs-up"></i>
            </div>
            <div id="future" class="info">
              <h3 class="top_info">どの様なエンジニアになりたいか</h3>
              <p>
                看護師という安定した職業を辞めてまでIT企業を志した理由は、<br>
                <span class="red-bold">「大きな変化による価値を生み出し、多くの人の役に立ちたい」</span>からです。
              </p>
              <section>
                <h4>1.変化を起こす</h4>
                <p>
                  先入観にとらわれず、常に改善案を考え、どんどん行動していきたいです。<br>
                  そして、新しい事に挑戦し自分自身も希少性の高い人材へと成長していきたいと思います。
                </p>
              </section>
              <section>
                <h4>2.価値を生む</h4>
                <p>
                  価値とはそのサービスや商品を支持してくれる人の数だと考えています。<br>
                  私が提供するサービスにより多くの人に喜んで貰える事を常に意識して行動しております。<br>
                  また、ITにはそれが実現可能だと思い、ITへの道を志しました。
                </p>
              </section>
              <section>
                <h4>3.影響力を持つ</h4>
                <p>
                  私が挑戦の中で得た情報やスキルは、どんどん他者へ発信していこうと考えております。<br>
                  ブログやQiitaを使って情報発信したり、技術記事を発信したりと、積極的に実行していきます。
                </p>
              </section>
            </div>
          </section>
        </div>
      </div>
    </section>
    
    <section class="text-center padding_top" id="section2">
      <div class="front_text">Ruby<h2 class="back_text">Ruby</h2></div>
      <h3 class="content_title">ドラクエ風アプリ</h3>
      <div class="container">

        <div class="left_space">
          <p>制作したゲームの実行画面</p>
          <video autoplay muted playsinline controls src="DQ-practice.mp4" class="capture_video"></video>
        </div>

        <div class="right_space">
          <section class="flex">
            <div class="icon">
              <i class="fas fa-chalkboard"></i>
            </div>
            <div class="info">
              <h4 class="top_info">アプリの概要</h4>
              <ul>
                <li>・勇者とモンスターのターン制バトル</li>
                <li>・とくぎやまほうといった一般的なゲームシステム</li>
              </ul>
            </div>
          </section>
          <section class="flex">
            <div class="icon">
              <i class="fas fa-code"></i>
            </div>
            <div class="info">
              <h4 class="top_info">ソースコード</h4>
              <a href="https://github.com/yuyuyu-26/DQ-practice.rb.git" class="github blue-link" target="_blank">GitHub(DQ-practice)</a>
              <p>起動ファイルは「main.rb」となっております</p>
            </div>
          </section>
          <section class="flex">
            <div class="icon">
              <i class="far fa-lightbulb"></i>
            </div>
            <div class="info">
              <h4 class="top_info">こだわりポイント</h4>
              <ul>
                <li>・完全にRubyのみで作成したゲーム</li>
                <li>・実際に作成することで基礎文法が定着できたと実感</li>
                <li>・VSCodeとGithubを連携</li>
                <li>・多対一の戦闘システム</li>
                <li>・HP,MPなどのステータスに基づきダメージと消費MP計算</li>
                <li>・会心の一撃やとくぎ、まほう使用で倍率ダメージ発生</li>
                <li>・戦闘に勝利するとEXPやゴールド獲得</li>
              </ul>
            </div>
          </section>
        </div>
      </div>
    </section>
    
    <section class="text-center padding_top" id="section3">
      <div class="front_text">Ruby on Rails<h2 class="back_text">Ruby on Rails</h2></div>
      <h3 class="content_title">Todoアプリ</h3>
      <div class="container">

        <div class="left_space">
          <p>制作したアプリへのリンク</p>
          <a href="https://floating-island-69366.herokuapp.com/" target="_blank"><img src="todo_app.png" alt="Todo_app"></a>
        </div>

        <div class="right_space">
          <section class="flex">
            <div class="icon">
              <i class="fas fa-chalkboard"></i>
            </div>
            <div class="info">
              <h4 class="top_info">アプリの概要</h4>
              <ul>
                <li>・プログラミング学習を進めるにあたりPC上で予定を管理したいため作成したアプリ</li>
                <li>・TODOタスクにて予定管理</li>
              </ul>
            </div>
          </section>
          <section class="flex">
            <div class="icon">
              <i class="fas fa-code"></i>
            </div>
            <div class="info">
              <h4 class="top_info">ソースコード</h4>
              <a href="https://github.com/yuyuyu-26/Todo_app" class="github blue-link" target="_blank">GitHub(Todo_app)</a>
            </div>
          </section>
          <section class="flex">
            <div class="icon">
              <i class="far fa-lightbulb"></i>
            </div>
            <div class="info">
              <h4 class="top_info">こだわりポイント</h4>
              <ul>
                <li>・初めてRailsでCRUD処理を実装して制作したアプリ</li>
                <li>・herokuにアプリをデプロイ</li>
                <li>・ユーザーの状態による機能制限</li>
                <li>・他者とのタスク共有が可能</li>
              </ul>
            </div>
          </section>
          <section class="flex">
            <div class="icon">
              <i class="far fa-gem"></i>
            </div>
            <div class="info">
              <h4 class="top_info">使用したGem</h4>
              <ul>
                <li>・bootstrap</li>
              </ul>
            </div>
          </section>
        </div>
      </div>
      <h3 class="content_title">Study English</h3>
      <div class="container">

        <div class="left_space">
          <p>制作したアプリへのリンク</p>
          <a href="https://calm-basin-29354.herokuapp.com" target="_blank"><img src="study_english.png" alt="Study English"></a>
        </div>

        <div class="right_space">
          <section class="flex">
            <div class="icon">
              <i class="fas fa-chalkboard"></i>
            </div>
            <div class="info">
              <h4 class="top_info">アプリの概要</h4>
              <ul>
                <li>・どこでも英単語学習できるアプリ</li>
                <li>・単語を好きなように作成し覚える</li>
              </ul>
            </div>
          </section>
          <section class="flex">
            <div class="icon">
              <i class="fas fa-code"></i>
            </div>
            <div class="info">
              <h4 class="top_info">ソースコード</h4>
              <a href="https://github.com/yuyuyu-26/study_english" class="github blue-link" target="_blank">GitHub(study_english)</a>
            </div>
          </section>
          <section class="flex">
            <div class="icon">
              <i class="far fa-lightbulb"></i>
            </div>
            <div class="info">
              <h4 class="top_info">こだわりポイント</h4>
              <ul>
                <li>・ブラウザ/アプリ化対応</li>
                <li>・herokuにアプリをデプロイ</li>
                <li>・javascriptで実践的なテストの雰囲気を構築</li>
                <li>・テスト解答後、自動正誤判定</li>
                <li>・Rspecでテスト実施（リファクタリング済）</li>
                <li>・CRUDなど基本的な機能搭載</li>
              </ul>
            </div>
          </section>
          <section class="flex">
            <div class="icon">
              <i class="far fa-gem"></i>
            </div>
            <div class="info">
              <h4 class="top_info">使用したGem</h4>
              <ul>
                <li>・bootstrap</li>
                <li>・carrierwave</li>
                <li>・rspec-rails</li>
                <li>・factory_bot_rails</li>
              </ul>
            </div>
          </section>
        </div>
      </div>
    </section>
      
    <section class="text-center padding_top" id="section4">
      <div class="front_text">JavaScript<h2 class="back_text">JavaScript</h2></div>
      <h3 class="content_title">Study English</h3>
      <div class="container">

        <div class="left_space">
          <p>制作したアプリの実行画面動画</p>
          <video autoplay muted playsinline controls src="Study English.mp4" class="capture_video"></video>
        </div>

        <div class="right_space">
          <section class="flex">
            <div class="icon">
              <i class="fas fa-code"></i>
            </div>
            <div class="info">
              <h4 class="top_info">ソースコード</h4>
              <a href="https://github.com/yuyuyu-26/study_english" class="github blue-link" target="_blank">GitHub(study_english)</a>
            </div>
          </section>
          <section class="flex">
            <div class="icon">
              <i class="far fa-lightbulb"></i>
            </div>
            <div class="info">
              <h4 class="top_info">こだわりポイント</h4>
              <ul>
                <li>・制限時間有り</li>
                <li>・未達成の単語の中からランダムで出題</li>
                <li>・ネットテストのような環境</li>
              </ul>
            </div>
          </section>
        </div>
      </div>
      
      <h3 class="content_title">環境構築</h3>
      <div class="container">
         <div class="left_space">
          <p></p>
          <a href="#" target="_blank"></a>
        </div>
        

        <div class="right_space">
          <section class="flex">
            <div class="icon">
              <i class="fas fa-chalkboard"></i>
            </div>
            <div class="info">
              <h4 class="top_info">言語やツールなど</h4>
              <ul>
                <li>言語・・・HTML, CSS, JavaScript, Ruby, Python3, SQL</li>
                <li>フレームワーク・・・Ruby and Rails</li>
                <li>ツール・・・GitHub, Bitbucket, Docker Toolbox, Googleデータポータル, VScode</li>
                <li>サーバー・・・AWS cloud9 EC2</li>
                <li>DB・・・SQLite3, PostgreSQL, Googleスプレッドシート</li>
              </ul>
            </div>
          </section>
          <section class="flex">
            <div class="icon">
              <i class="far fa-lightbulb"></i>
            </div>
            <div class="info">
              <h4 class="top_info">実装機能</h4>
              <ul>
                <li>・基本的なCRUD機能+画像機能</li>
                <li>・リレーション機能</li>
                <li>・TODO機能</li>
                <li>・Rspecを使用してのテスト実装</li>
                <li>・レスポンシブ対応</li>
              </ul>
            </div>
          </section>
        </div>
      </div>
    </section>
    
    <div class="text-center padding_top" id="section5">
      <p class="front_text">Other<span class="back_text">Other</span></p>
      <h3 class="content_title">Qiitaへ技術記事投稿</h3>
      <div class="container">
        <div class="left_space">
          <p>投稿したQiita記事の一部</p>
          <a href="quiite.png" data-lightbox="group"><img src="quiite.png" width="300" alt="Qiitaへ技術記事投稿"></a>
        </div>
        <div class="right_space">
          <section class="flex">
            <div class="icon">
              <i class="far fa-lightbulb"></i>
            </div>
            <div class="info">
              <h4 class="top_info">こだわりポイント</h4>
              <ul>
                <li>・cloud9で作成したソースコードをBitbucketやGitHubへの保存方法を解説</li>
                <li>・勉強した内容を積極的にアウトプット</li>
              </ul>
              <p class="red-bold pt_30">→学んだ知識を整理しアウトプットする事を常に意識しています</p>
            </div>
          </section>
          <section class="flex">
            <div class="icon">
              <i class="far fa-plus-square"></i>
            </div>
            <div class="info">
              <h4 class="top_info">Qiita記事</h4>
              <p>作成したQiita記事</p>
              <a href="https://qiita.com/shi_ma_yu/items/896ed09ff2b9f24708a6" target="_blank" class="blue-link">初めてのBitbucket</a>
            </div>
          </section>
        </div>
      </div>
      <h3 class="content_title">EXP</h3>
      <div class="container">
        <div class="left_space">
        </div>
        <div class="right_space">
          <section class="flex">
            <div class="icon">
              <i class="far fa-lightbulb"></i>
            </div>
            <div class="info">
              <h4 class="top_info">アプリ制作を通しての成長</h4>
              <ul>
                <li>・行動の継続力</li>
                <li>・スキル等の情報収集能力</li>
                <li>・基本的なhtml,cssの操作</li>
                <li>・GitHub/Bitbucketの使用方法</li>
                <li>・疑問点やエラー発生時の自己解決能力</li>
                <li>・アプリ制作や知識を増やすことへの楽しさ</li>
                <li>・Ruby,RailsとJavaScriptを組み合わせた操作</li>
                <li>・Ruby,Rails,Rspecを使用してのアプリ制作の一連</li>
              </ul>
              <p class="red-bold pt_30">→日々楽しみながら努力を継続しています</p>
            </div>
          </section>
        </div>
      </div>
      <div class="container">
        <div class="left_space">
          <p>Coursera Stanford machine-learning修了証</p>
          <a href="Coursera_machine-learning_修了証-1.png" data-lightbox="group"><img src="Coursera_machine-learning_修了証-1.png" width="300" alt="修了証"></a>
        </div>
        <div class="right_space">
          <section class="flex">
            <div class="icon">
              <i class="far fa-lightbulb"></i>
            </div>
            <div class="info">
              <h4 class="top_info">3ヶ月の実務経験</h4>
              <ul>
                <li>・BLEからデータ取得して可視化するシステムを開発</li>
                <li>・Python3,Googleスプレッドシート,Googleデータポータル使用</li>
                <li>・エンジニアとしての質問力を学ぶ</li>
                <li>・LinuxやDocker,Serverless,Gitについて学ぶ</li>
              </ul>
            </div>
          </section>
          <section class="flex">
            <div class="icon">
              <i class="far fa-lightbulb"></i>
            </div>
            <div class="info">
              <h4 class="top_info">Stanford machine-learning</h4>
              <ul>
                <li>・スタンフォード大学が提供する機械学習講義(全11週)完遂</li>
                <li>・教師あり学習・教師なし学習・機械学習応用を全般的に学習</li>
                <li>・プログラミング課題にて実装力の習得</li>
                <li>・学びをブログにて発信<a href="https://me-di-ca-l.com" target="_blank">(https://me-di-ca-l.com)</a></li>
　　　　　　　　<p class="red-bold pt_30">→現在はE資格取得に向けてJDLA認定プログラム受講中。</p>
              </ul>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>  
  <div class="footer_bottom">
    <p>Created by YU SHIMAZAKI</p>
  </div>
  
  <!-- jQuery読み込み -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <script src="main_blog.js"></script>
</body>
  
</html>
